#devise.row-fluid
  = form_for @idiot, :as => :idiot, :url => idiot_path, :method => :put do |f|
    %label email: #{@idiot.email}
    %label time zone
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, {}, {:class => "span12"}
    %label send reminder at
    = f.select :time_to_send, User::TIMES_TO_SEND.keys, {}, {:class => "span12"}
    = f.submit "update me!", :class => "btn-primary btn-large"