#devise.row-fluid
  = form_for @idiot, :as => :idiot, :url => idiot_path, :method => :put do |f|
    - if @idiot.provider == 'twitter'
      %label twitter id: #{@idiot.provider_name}
    - else
      %label email: #{@idiot.email}
    %label time zone
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, {}, {:class => "span12"}
    %label send reminder at
    = f.select :time_to_send, User::TIMES_TO_SEND.keys, {}, {:class => "span12"}
    - if @idiot.paying
      %label.checkbox
        #{f.check_box :sweary}
        %a{:href => "#", :rel => "tooltip", :title => "some of them are quite unpleasant"} sweary version
    %br
    = f.submit "update me!", :class => "btn-primary btn-large"
    
#cancel_account.row-fluid
  = link_to('Close Your Account', user_registration_path, :confirm => 'You sure? Everything gets deleted, no more encouraging emails to greet you every morning.', :method => 'delete', :class => 'btn-success btn-large')