<div id="devise" class="row-fluid">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    
    <%- unless devise_error_messages!.blank? -%>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <%= devise_error_messages! %>
      </div>
    <%- end -%>
    

    <%= f.label :email %>
    <%= f.email_field :email, :class => "span12" %>

    <%= f.label :password %>
    <%= f.password_field :password, :class => "span12" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "span12" %>

    <%= f.submit "Sign up", :class => "btn-primary btn-large" %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>