<div class="row-fluid" id="intro">
  <div class="span12">
    <h1>Hello <%= swear_generator('#diswnoun#') %></h1>
    <div>
      Do It Idiot is a to do list manager that sends daily emails with gentle words of encouragement, like 
      'Come on you <%= swear_generator('#diswadj# #diswnoun#') %>, get it done!'
      <p><%= link_to("Sign Up", new_user_registration_path) %></p>
      or...
    
    </div>
  </div>
</div>


<div id="devise" class="row-fluid">
  <h2>Sign in <span>(or sign in with <%= link_to(image_tag("logo_twitter_withbird_1000_white_blue.png"), user_omniauth_authorize_path(:twitter)) %>)</span></h2>
    
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, :class => "span12" %>

    <%= f.label :password %>
    <%= f.password_field :password, :class => "span12" %>

    <% if devise_mapping.rememberable? -%>
      <input name="user[remember_me]" type="hidden" value="0" />
      <label for="user_remember_me" class="checkbox">
        <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /> Remember me
      </label>
    <% end -%>

    <%= f.submit "Sign in", :class => "btn-primary btn-large" %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>