<div id="devise" class="row-fluid">
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, :class => "span12" %>

    <%= f.label :password %>
    <%= f.password_field :password, :class => "span12" %>

    <% if devise_mapping.rememberable? -%>
      <input name="user[remember_me]" type="hidden" value="0" />
      <label for="user_remember_me" class="checkbox">
        <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /> Remember me
      </label>
    <% end -%>

    <%= f.submit "Sign in", :class => "btn-primary btn-large" %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>