%h2  Welcome back
%h1.idiot_name
  ! <span class="diswadjs">huge</span> <span class="diswnouns">idiot</span>

- if user_signed_in?
  .row-fluid
    = form_for @new_todo, :html => {:class => "form-inline"} do |f|
      .row-fluid
        .span9= f.text_field :what_to_do
        .span3= f.submit 'Create Todo', :data => {:url => todos_path}, :class => "btn-primary"
    
%ul#todos.list_todos{:"data-sort-url" => sort_todos_url}

%script{:type => "text/html", :id  => "todo_template"}
  = render 'todos/todo_li'
%script{:type => "text/html", :id  => "edit_todo_template"}
  = render 'todos/edit_todo_li'