%h1 Send an enquiry
= form_for @enquiry do |f|
  = render "shared/error_messages", :target => @enquiry
  = f.label :email
  = f.text_field :email
  = f.label :message
  = f.text_area :message
  = f.submit 'Send Enquiry'