!!! 5
%html{:manifest => if request.path == todos_path then "/application.manifest" else "" end }
  %head
    %title Do It Idiot
    =# stylesheet_link_tag "application", :media => "all"
    %link{:href => "/assets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    =# javascript_include_tag "application"
    %script{:src => "/assets/application.js", :type => "text/javascript"}
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{"rel" => "shortcut icon", "href" => "/assets/favicon.ico"}
    %link{"rel" => "apple-touch-icon", "href" => "/assets/apple-touch-icon.png"}
    
  %body
    = render "shared/facebook_sdk"
    .navbar
      .navbar-inner
        .container
          = link_to(image_tag("main_logo.gif"), root_path, :class => "brand")
          %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .nav-collapse.pull-right
            %ul.nav
              - if user_signed_in?
                %li= link_to('log out', destroy_user_session_path, :method => "delete")
                %li= link_to('my info', idiot_path)
              %li= link_to('FAQs', faqs_path)
              %li= render "shared/tweet_this"
              %li= render "shared/facebook_like"
  
    .container
      .row-fluid
        .span12
          - if notice
            .alert.alert-success
              %a.close{:"data-dismiss" => "alert"} ×
              = notice
          = yield
          
    #footer.container
      .row-fluid
        %ul#footer_nav.span10
          %li= link_to("Contact Us", "mailto:mail@doitidiot.com")
          %li= link_to("Terms & Conditions", terms_and_conditions_path)
          %li= render "shared/tweet_this"
          %li= render "shared/facebook_like"
        #copyright.span2
          &copy; DoItIdiot Ltd 2012