!!! 5
%html{:manifest => "/application.manifest"}
  %head
    %title DoitidiotApi
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{"rel" => "shortcut icon", "href" => "/assets/favicon.ico"}
    %link{"rel" => "apple-touch-icon", "href" => "/assets/apple-touch-icon.png"}
    
  %body
    .navbar
      .navbar-inner
        .container
          %ul.nav
            - if user_signed_in?
              %li= link_to('completed todos', completed_todos_path)
              %li= link_to('log out', destroy_user_session_path, :method => "delete")
            - else
              %li= link_to('log in', new_user_session_path)
              %li= link_to('register', new_user_registration_path)
  
  
    .container
      .row-fluid
        .span12
          = notice
          = yield
